# Population and Sample

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Create a population DataFrame with 10 data

data = pd.DataFrame()
data["Population"] = [47, 48, 85, 20, 19, 13, 72, 16, 50, 60]
data

   Population
0          47
1          48
2          85
3          20
4          19
5          13
6          72
7          16
8          50
9          60

In [3]:
# Draw sample with replacement, size = 5 from Population (抽完放回去)
a_sample_with_replacement = data["Population"].sample(5, replace = True)
a_sample_with_replacement

3    20
8    50
6    72
5    13
5    13
Name: Population, dtype: int64

In [4]:
# Draw sample without replacement, size = 5 from population（抽完不放回去）

a_sample_without_replacement = data["Population"].sample(5, replace = False)
a_sample_without_replacement

8    50
1    48
5    13
9    60
7    16
Name: Population, dtype: int64

# Parameters and Statistics

In [5]:
#Calculate mean and variance
population_mean = None
population_var = None
print("Population mean is" , population_mean)
print("Population variance is" , population_var)

Population mean is None
Population variance is None

In [7]:
#Calculate the sample mean and sample stand deviation, size = 10

a_sample = data["Population"].sample(10, replace = True)
sample_mean = a_sample.mean()
sample_var = a_sample.var()
print("Sample mean is" , sample_mean)
print("Sample variance is", sample_var)

Sample mean is 48.1
Sample variance is 345.4333333333334