# Confidence interval

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [3]:
ms = pd.DataFrame.from_csv("microsoft.csv")
ms.head()

/home/kuanru/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

                 Open       High        Low      Close  Adj Close    Volume
Date
2014-12-31  46.730000  47.439999  46.450001  46.450001  42.848763  21552500
2015-01-02  46.660000  47.419998  46.540001  46.759998  43.134731  27913900
2015-01-05  46.369999  46.730000  46.250000  46.330002  42.738068  39673900
2015-01-06  46.380001  46.750000  45.540001  45.650002  42.110783  36447900
2015-01-07  45.980000  46.459999  45.490002  46.230000  42.645817  29114100

# Estimate the average stock return with 90% Confidence Interval

In [8]:
#LogReturn for average microsoft stock
ms["logReturn"] = np.log(ms["Close"].shift(-1)) - np.log(ms["Close"])

In [19]:
# Built 90% confidence interval for log return
sample_size = ms['logReturn'].shape[0]
sample_mean = ms['logReturn'].mean()
sample_std = ms['logReturn'].std(ddof=1)/sample_size**0.5

#upper and lower bound
#interval_left = None
#interval_right = None

In [21]:
#90% confidence interval tells one that there will be 90% chance that the average stock return lies between interval_left and interval_right
#print('90% confidence interval is ', (interval_left, interval_right))